.navigation {
    display: flex;
    align-items: center;
    height: fit-content;
    gap: 10px;
}
.navigation img {
    margin-left: 10px;
}
.navigation h1 {
    color: white;
    font-weight: lighter;
}
.sub {
    color: white;
    font-weight: lighter;
    font-size: 12px;
}